@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.whole {
  overflow: hidden;
  background-color: #002233;
  touch-action: none;
}

.tsparticles {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  object-fit: fill;
}

.container {
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.title {
  margin: 0 auto;
  margin-top: 18px;
  font-size: 40px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: white;
}

.description {
  margin: 0 auto;
  margin-top: 18px;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: white;
}

.social-networks {
  width: 100%;
  position: fixed;
  text-align: center;
  bottom: 70px;
  user-select: none;
}

.social-networks-link {
  opacity: 0.8;
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s ease-in;
  margin-right: 20px;
}
.social-networks-link:hover {
  opacity: 1;
  text-decoration: underline;
}
.social-networks-link:last-child {
  margin-right: 0;
}

.social-networks-image {
  width: 46px;
}
